<section id="category">
  <div class="categories">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><a href="/api/category/1" class="prod-cat" style="color: #8BB174">Produce</h1></a>
            <p class="card-text" style="font-style: italic;">We have all types of local grown and raised produce items.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><a href="/api/category/2" class="access-cat" style="color: #8BB174">Accessories</h1>
            </a>
            <p class="card-text" style="font-style: italic;">High quality accessories made with love are here.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><a href="/api/category/3" class="clothes-cat" style="color:#8BB174">Clothes</h1></a>
            <p class="card-text" style="font-style: italic;">Support our local business owners with their finest
              garments here.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><a href="/api/category/4" class="Food-cat" style="color:#8BB174">Foods</h1></a>
            <p class="card-text" style="font-style: italic;">Who does not like homemade recipes? Get yours here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>