<section id="category">
  <div class="categories">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Produce</h1>
            <p class="card-text">We have all types of local grown and raised produce items</p>
             <a href="/api/category/1">Produce</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Accessories</h1>
            <p class="card-text">High quality accessories made with love are here:</p>
            <a href="/api/category/2">Accessories</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Clothes</h1>
            <p class="card-text">Support our local business owners with their finest garments here:</p>
             <a href="/api/category/3">Clothes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Foods</h1>
            <p class="card-text">Who does not like homemade recipes? Get yours here:</p>
            <a href="/api/category/4">Foods</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>