<main>
    <div class="hero">
        <div class="overlay">
            <div class="hero-content">
                <h1>Welcome to our Store</h1>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, veniam!</h4>
                <a href="/api/category">Shop Now</a>
            </div>
        </div>
    </div>
</main>