<main>
    <div class="hero">
        <div class="overlay">
            <div class="hero-content">
                <h1>Welcome to our Store</h1>
                <h4>Bringing the Community Together by Shopping Locally!</h4>
                <a href="/api/category">Shop Now</a>
            </div>
        </div>
    </div>
</main>