
<div class="row" style="margin: 100px">
  <div class="col-md-6" style="border: 5px solid #2C6E49">
    <h2 class="formHeader">Login</h2>
  {{!-- <form>
  <fieldset>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div> --}}

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" class="form-label mt-4">Email Address:</label>
        <input type="email" class="form-control" type="text" id="email-login" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password-login" class="form-label mt-4">Password:</label>
        <input class="form-control" type="password" id="password-login" placeholder="Password" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </form>
  </div>
  <div class="col-md-6"style="border: 5px solid #2C6E49;">
    <h2 class="formHeader">Signup</h2>

  {{!-- <fieldset>
    <div class="form-group">
      <label for="name-signup" class="form-label mt-4">Name:</label>
      <input type="text" class="form-control" id="name-signup" aria-describedby="emailHelp" placeholder="Enter First and Last Name">
    </div>
    <div class="form-group">
      <label for="email-signup" class="form-label mt-4">Email:</label>
      <input type="email" class="form-control" id="email-signup" placeholder="Your Email">
    </div>
        <div class="form-group">
      <label for="password-signup" class="form-label mt-4">Password:</label>
      <input type="password" class="form-control" id="password-signup" placeholder="Password">
          <div class="form-group">
      </div>
    </form>
  </div>
    </div>
    </fieldset> --}}

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup"class="form-label mt-4">Name:</label>
        <input class="form-control" type="text" id="name-signup" placeholder="First, Last" />
      </div>
      <div class="form-group">
        <label for="email-signup"class="form-label mt-4">Email:</label>
        <input class="form-control" type="text" id="email-signup"placeholder="Email Address" />
      </div>
      <div class="form-group">
        <label for="password-signup"class="form-label mt-4">Password:</label>
        <input class="form-control" type="password" id="password-signup"placeholder="Password" />
                <button class="btn btn-primary" type="submit">Create New Account</button>
      </div>

</div>

<script src="/js/login.js"></script>
