<section>
  <div class="sub-categories">
    {{#each subCategories as |subCategory|}}
      <button class="category_btn" data-id={{subCategory.id}}>{{subCategory.name}}</button>
    {{/each}}
  </div>
  <div class="products-container">
    
  </div>
</section>

<script>
  const arrays = [ { "id": 1, "name": "Fruits", "category_id": 1 }, { "id": 2,
  "name": "Vegetables", "category_id": 1 }, { "id": 3, "name": "Meats",
  "category_id": 1 }, { "id": 4, "name": "Grains", "category_id": 1 } ]

  arrays.forEach(item => {
      console.log(item.name)
  })
</script>
<script src="/js/subCategory.js"></script>